@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f5f5;
}
.wrapper {
  max-width: 1340px;
  margin: 0 auto;
}
h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
h4 {
  font-weight: 400;
  margin-bottom: 10px;
}
p {
  line-height: 1.2;
}
header {
  background-color: white;
}
.bloc-header-1 {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
}
.bloc-header-1 img {
  width: 150px;
}
.bloc-header-2 {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.bloc-header-2 img {
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 30px;
}
main {
  height: 100vw;
}
.content {
  padding: 20px 0;
  display: flex;
}
.menu {
  width: calc(100% - 350px);
  margin-right: 50px;
}
.menu > div {
  margin-bottom: 40px;
}
.meals {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.item-menu {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: calc((100% - 20px) / 2);
  display: flex;
  justify-content: space-between;
}
.item-menu img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.details-item {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details-item > div:nth-child(2) {
  display: flex;
  gap: 20px;
}

.popular {
  color: #ff8000;
  font-weight: bold;
}
.star {
  color: #ff8000;
}
.card {
  width: 350px;
  padding: 20px;
  background-color: white;
  min-height: 400px;
  height: auto;
}
.mealcard {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}
.mealprice {
  margin-left: auto;
}
